.fadeIn {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}

.topNavBar {
    background:
        linear-gradient(currentColor 0 0)
        bottom / var(--d, 0) 2px
        no-repeat;
    transition: 0.5s !important;
}

.topNavBar:hover {
    --d: 100%;
}

.expandDown {
  transition: height 0.3s ease-in-out;
}
