.fadeIn {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}

.topNavBar {
    background:
        linear-gradient(currentColor 0 0)
        bottom / var(--d, 0) 2px
        no-repeat;
    transition: 0.5s !important;
}

.topNavBar:hover {
    --d: 100%;
}

.pgMoveDown {
  animation-name: unfoldDown;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s !important;
}

@keyframes unfoldDown {
  0% { height: 0 }
  25% { height: 50px }
  50% { height: 100px }
  75% { height: 150px }
  100% { height: max-content }
}
